<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head %}
    <title>{% block title %}Home{% endblock %}</title>
    {% endblock %}

<!-- Custom bootsrap Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-5.1.3/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-5.1.3/js/bootstrap.min.js')}}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/js/bootstrap.min.js')}}" />

    <link href="{{url_for('static', filename='css/Style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/modallogin.css')}}">

    <!-- fixed-top -->
  </head>

  <div class="preloader">
    <div class="loader rubix-cube">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 color-1"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>
        <div class="layer layer-7"></div>
        <div class="layer layer-8"></div>
    </div>
  </div>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('view.home')}}"><strong>E-Learning M-S</strong></a>  
        <img src="{{ url_for('static', filename='/images/p-2.png')}}" width="55" height="55" alt="logo">
        <button
          class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end">
            <li>
              <button class="main-btn" data-bs-toggle="modal" data-bs-target="#student">LogIn / Register</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Modal: Login Form Start-->
    <div class="modal fade" id="student" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title justify-content-between" >LOGIN</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form action="{{ url_for('dashbrd.dashboard')}}" method="POST">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="recipient-name" required>
              </div>

              <div class="mb-3">
                <label for="message-text" class="col-form-label">Password:</label>
                <a class="float-right text-muted" href="#">Forgot?</a>
                <input type="password" class="form-control" id="name" required>
                <br>
                <label>Not Registered? <a href="{{ url_for('authent.signup')}}">Create account</a></label>
              </div>

              <div class="modal-footer">
                <label class="form-check-label"><input type="checkbox"> Remember me</label>
                <button class="main-btn" type="submit"name="insertdata">Login</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='/bootstrap-5.1.3/js/bootstrap.min.js')}}"></script>
     {% block content %} {% endblock %}

    <div class="search-box">
      <div class="serach-form">
        <div class="closebtn">
          <span></span>
          <span></span>
        </div>
        <form action="#">
          <input placeholder="Search by keyword" type="text">
          <button><i class="fa fa-search"></i></button>
        </form>
      </div> <!-- search form -->
    </div>

    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                            </div>
                            <p> Developing Powerful Reading & Writing Habits with the Best Experience for School Innovators
                                choose.<br><strong>"KNOWLEDGE IS POWER"</strong></p>
                            <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Documentation</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>

                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Ho Technical University</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+233(0204365466)</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>e-learningmgs@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->


        <div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p>All Rights Reserved 2022 @ 
                                <a href="https://htu.edu.gh/" style="color: inherit"
                                    target="_blank">Ho Technical University
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="copyright text-md-left text-center pt-15"></div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
         <!-- <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a> -->
    </footer>

  </body>
</html>
