<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{% block title %}Sign Up{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet"
      href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}"
      type="text/css"/>

    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />

    <link rel="stylesheet"
      href="{{url_for('static', filename='css/sb-admin-2.min.css')}}"/>
    {% endblock %}
  </head>

  <body class="bg-gradient-primary">
    {% block content %}
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block">
              <img src="{{url_for('static', filename='img/register.jpg')}}" />
            </div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>

                <form action="" class="user" data-toggle="validator"method="POST">
                  {{ form.hidden_tag() }} 
                  {{ form.username(class='form-control')}}
                  <br />
                  {{ form.email(class='form-control') }}
                  <br />

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      {{ form.password(class='form-control') }}
                    </div>

                    <div class="col-sm-6">
                      {{ form.confirm_password(class='form-control') }}
                    </div>
                  </div>
                  
                  {{ form.submit(class='btn btn-primary btn-user btn-block') }}
                  <hr />

                  <a href="https://accounts.google.com" target="_blank" 
                      class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i>Login with Google
                  </a>

                  <a href="https://web.facebook.com" target="_blank"
                        class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i>Login with Facebook
                  </a>
                  
                </form>
                <hr />

                <div class="text-center">
                  <a class="small" href="forgot-password">Forgot Password?</a>
                </div>

                <div class="text-center">
                  <a class="small" href="{{ url_for('authent.login')}}">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery/Jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>
    {% endblock %}
  </body>
</html>
