{% extends 'admin_availmaster.html' %} 


{% block head %}
<title>{% block title %}Admin Dashboard{% endblock %}</title>

<!-- Custom bootsrap Styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-5.1.3/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-5.1.3/js/bootstrap.min.js')}}"/>

<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/js/bootstrap.min.js')}}"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{% endblock %} 

{% block booksavail %}
<body style="background-color: #4286f4;">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <!-- <h1 class="h3 mb-0 text-gray-800">Welcome to Admin Dasboard</h1> -->
  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#">
    <i class="fas fa-download fa-sm text-white-50"></i> <strong>Print report</strong></a>
</div>
<br>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="overflow-auto">
      <div class="container">
        <div class="card-header text-center" >
          <h5><strong>Students book request <i class="fa fa-book " style="font-size: 24px"></i></strong></h5>
        </div>
        <div class="overflow-auto">
          <div class=" m-1" style="padding-right: 70%">
          </div>
          
          
          <table class="table table-dark table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Department</th>
                <th>Date Request</th>
              </tr>
            </thead>
            {% for student in students %}
              <tr>
                <th>{{ student.id }}</th>
                <td>{{ student.the_title }}</td>
                <td>{{ student.thebook_auth }}</td>
                <td>{{ student.dpment }}</td>
                <td>{{ student.date_request}}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
{%endblock%}
